[Desktop Entry]
Name=Ctrl Vitals
Comment=CPU, GPU, RAM, Disk, Network, and Process monitor
Exec=ctrl-vitals
Icon=utilities-system-monitor
Type=Application
Categories=System;Monitor;
Terminal=false
StartupNotify=false
